// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;
}

@media (max-width: $breakpoint992) {
    .container {
        max-width: 970px;
    }
    
}
@media (max-width: $breakpoint768) {
    .container {
        max-width: 712px;
    }
    
}
@media (max-width: $breakpoint480) {
    .container {
        max-width: none;
    }
    
}

// Body Locked
body {
    min-width: 320px;
    font-family: 'Poppins', sans-serif;
    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
